.m_cart_list{
	/*padding-bottom: .1rem;*/
}

/*头部 编辑*/
#compile{
	float: right;	
	width: .5rem;
	height: 100%;
	text-align: center;
	line-height: inherit;
	font-size: .14rem;
	color: white;
}
/*商品详情*/
.m_cart_items{
	padding: 0.1rem;
	background: #fff;
	height: 1.16rem;
	margin-bottom: .15rem;
	position: relative;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	/*overflow: hidden;*/
}
.m_cart_items::after{
	display: block;
    background-image: -webkit-gradient(linear,50% 0,0 100%,from(#fff),color-stop(.5,#fff),color-stop(.5,transparent),to(transparent)),-webkit-gradient(linear,50% 0,100% 100%,from(#fff),color-stop(.5,#fff),color-stop(.5,transparent),to(transparent));  
    background-size: 9px 8px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    content: "";
    position: absolute;
    bottom: -3px;
    height: 5px;
    width: 100%;
    left: 0;
}
/*.m_cart_items:first-child{
	margin-top: 0;
}*/
.m_cart_items > div{
	height: 100%;
	float: left;
	position: relative;
}

/*商品选择按钮*/
/*.m_cart_btn{
	width: 12%;
	
}
.point{
	display: inline-block;
	width: .16rem;
	height: .16rem;
	border:1px solid #999;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	margin-left: .08rem;
	margin-top: -.08rem;
	transition: all .25s;
	box-sizing: border-box;
}

.point.on{
	border: 0;
	background: #ff6d00;
}*/

/*商品图片*/
.m_cart_pic{
	width: 30%;
	margin-left: 2%;
}
.m_cart_pic img{
	width: 1rem;
	height: 1rem;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -0.5rem;
}
.m_cart_text{
	width: 64%;
	margin-left: 4%;
}

/*商品信息*/
.m_cart_title{	
	color: #333;
    font-size: .15rem;
    margin-top: .1rem;
}
.m_cart_explain{
	padding: .05rem 0 .1rem 0;
	color: #999;
    font-size: .12rem;
}

.beixuan{
	display: inline-block;
	font-size: .18rem;
	line-height: .18rem;
	padding: .12rem .13rem .12rem .24rem;
    color: #acacac;
    position: absolute;
    right: 0;
    bottom: 0.05rem;
}

/*delete*/
.plus{
	position: absolute;
    top: 0;
    right: 0;
    width: .4rem;
    height: .4rem;
   /* margin-top: -.2rem;*/
    line-height: .4rem;
    transform: rotate(-45deg);
    font-size: .25rem;
    text-align: center;
}

/*商品件数*/
.w_num_btn{
	display: inline-block;
	width: 0.34rem;
	height: 34px;
	border: 1px solid #e0e0e0;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	font-family: Helvetica;
}
.left{
	position: absolute;
	left: 0;
}
.right{
	position: absolute;
	left: 1.09rem;
}
#w_num_input{
	width: 0.66rem;
    height: 30px;
    line-height: 30px;
    color: #dc3851;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e0e0e0;
    padding: 2px 0.04rem;
    position: absolute;
    top: 0;
    left: 0.34rem;
    
}

.m_cart_items .mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	text-align: center;
	height: 0px;
	transform: translateZ(0);
	transition: all .25s;
	overflow: hidden;
}
.m_cart_items .mask a{
	display: inline-block;
	width: .48rem;
	height: .48rem;
	line-height: .48rem;
	border: 1px solid rgba(245, 106, 0, 0.75);
	color: #fff;
	margin: 0 .03rem;
	margin-top: .36rem;
}
/*底部结算*/
.m_carts_footer{
	width: 100%;	
	height: .45rem;
	line-height: .47rem;
	position: fixed;	
	border-top: 1px solid #e0e0e0;
	z-index: 5;
	background: white;
}
.settlet{
	display: inline-block;
	width: 25%;
	height: 100%;
	line-height: inherit;	
	position: absolute;
	right: 0;
	top:0;
	/*top:-1px;
	border:1px solid #F56A00 ;
	z-index: 100;*/
}
.total{
	font-size: .15rem;	
	color: #999;
	line-height:inherit;
	padding-right: 25%;
	text-align: center;
}
.total.vip{
	line-height:.25rem;
}
.total #vip{
	line-height:.20rem;
	/*font-size: .13rem;	*/
	margin-top: -.02rem;
	/*color: #BABABA;*/
}
.vip #goodsPay{
	text-decoration: line-through;
}


.choose{
	width: .6rem;
	height: 100%;
	position: relative;
}
.quanc{
	position: absolute;
	left: .3rem;
	font-size: .14rem;
	color: #999;
}

.good-region-2::before,.good-region-3::before,.good-region-4::before{
	left: .06rem!important;
}

/*购买后弹层*/
#shareBg {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.6);
	background-image: radial-gradient(3px 2px at 20px 30px, #fad972, transparent), radial-gradient(2px 3px at 40px 70px, #fff, transparent), radial-gradient(2px 4px at 50px 160px, #bcbcbc, transparent), radial-gradient(4px 2px at 90px 40px, #fff, transparent), radial-gradient(3px 3px at 130px 80px, #fff, transparent), radial-gradient(2px 2px at 160px 120px, #28bbfe, transparent);
	background-size: 1.5rem;
	z-index: 100;
	color: #f8d926;
	text-align: center;
	display: none;
	animation: bgAni linear infinite 8s;
}
@-webkit-keyframes bgAni{
	0%{
		background-position: 0 0;
	}
	25%{
		background-position: 25% 25%;
	}
	38%{
		background-position: 38% 38%;
	}
	50%{
		background-position: 50% 50%;
	}
	75%{
		background-position: 75% 75%;
	}
	88%{
		background-position: 88% 88%;
	}
	100%{
		background-position: 100% 100%;
	}
}
#guide {
	position: absolute;
	right: .05rem;
	top: .08rem;
	display: none;
}
#guide img {
	width: 1.6rem;
	height: 1.1rem;
}
.shareInfo {
	position: absolute;
	top: 27%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
}
.shareInfo p {
	line-height: .22rem;
}
.price {
	width: 1.9rem;
	height: 1.75rem;
	margin-bottom: .14rem;
}
#button {
	margin-top: .13rem;
}
.button {
	display: inline-block;
	width: 1.1rem;
	height: .32rem;
	margin-right: .06rem;
	border-radius: 4px;
	font-weight: 600;
	font-size: .18rem;
	border: none;
}
.share:active {
	background: #e11b38;
}
.review:active {
	background: #f8d926;
}
.review {
	background: #f8d926;
	color: #d59b06;
}
.share {
	background: #e11b38;
	color: #fff;
}

/*分享按钮*/
#sharePage {
	position: absolute;
	bottom: .2rem;
	width: 85%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	border-radius: 8px;
	color: #000;
	display: none;
}
#cancel {
	height: 0.45rem;
	line-height: 0.45rem;
	text-align: center;
	border-radius: 6px;
	background: #fff;
}
#cancel:active {
	background: #F1EEEC;
}

#shareItem {
	background: #fff;
	bottom: 0.65rem !important;
	height: 1.5rem;
	font-size: 0;
	border-radius: 8px;
	margin-bottom: 0.1rem;
}

#shareItem ul {
	width: 100%;
	padding: .35rem .25rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

#shareItem li:before {
	content: "";
	display: inline-block;
	width: 0.55rem;
	height: 0.55rem;
	background: url(../../img/user/quick_login.png) no-repeat;
	background-size: 2.6rem;
	background-position: -0.08rem -0.08rem;
}

#shareItem li {
	width: 33.3%;
	text-align: center;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
}

#shareItem li span {
	display: block;
}

.moment:before {
	background-position: -0.72rem -0.08rem !important;
}